body {
    background: #f5f5f0;
    font-family: "helvetica";
    color: #666;
    padding: 0 20%;
}

nav ul li {
    display: inline-block;
}


img {
    width: 200px;
    border-radius: 10px;
}

.hide {
    display: none;
}

li input {
    display: none;
}

li.edit span {
    display: none;
}

li.edit input {
    display: initial;
}